PORT=3000
NODE_ENV=development
FRONTEND_URL=https://classreflect.gdwd.co.uk

# Database
DB_HOST=gdwd.cluster-cjjl7f5jormj.eu-west-2.rds.amazonaws.com
DB_PORT=3306
DB_NAME=classreflect
DB_USER=
DB_PASSWORD=

# AWS
AWS_REGION=eu-west-2
S3_BUCKET_NAME=classreflect-audio-files
SQS_QUEUE_URL=

# Authentication
JWT_SECRET=
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=