# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfplan
tfplan
crash.log
crash.*.log
*.backup
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
*.auto.tfvars
*.auto.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc